<%= form_for(task) do |f| %>
    <% if task.errors.any? %>
    <div>
    <h2><%= pluralize(task.errors.count, "error") %>
    prohibited this task from being saved:</h2>
    <ul>
        <% task.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
<%= f.label :title %><br>
<%= f.text_field :title%><br>
<%= f.label :description %><br>
<%= f.text_field :description%><br>
<%= f.label :URL%><br>
<%= f.text_field :URL%><br>
<%= f.label :image %><br>
<%= image_tag(task.image_url) if task.image? %><br>
<%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png' %><br>
<%= f.hidden_field :image_cache %>
<%= f.label "Select permit"%><br>
<div class="form-group">
<select name="task[permit_ids][]" id="task_permit_ids">
        <% @permits= Permit.all %>
        <% @permits.each_with_index do |index,permit| %><br>
        <%# binding.pry %>
        <%#https://stackoverflow.com/questions/48285481/how-do-you-use-a-single-select-dropdown-with-rails-has-many-through-association%>
            <option value="<%= index[1] %>">
                <%= index [0] %>
            </option>
        <% end %>
</select>
</div>
<%= f.submit %>
<% end %>

<script type="text/javascript">
$('#task_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
        alert ('Maximum file size is 5MB'. Please choose a smaller file.');
    }
  });
</script>