<%= form_for(permit) do |f| %>
<%= f.hidden_field :user_id %>
<% #binding.pry %>
<%#= f.hidden_field :permit_id %>
    <% if permit.errors.any? %>
    <div>
    <h2><%= pluralize(permit.errors.count, "error") %>
    prohibited this permit from being saved:</h2>
    <ul>
        <% permit.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
<p>
<%= f.label :month %><br>
<% select_list = {Jan: 1, Feb: 2,March: 3, April: 4, May: 5, June: 6, July: 7, Aug: 8, Sept: 9, Oct: 10, Nov: 11, Dec: 12 }%>
<%= f.select :month, select_list%><br>
<%= f.label :year %><br>
<%= f.text_field :year%><br>
<%= f.label :title %><br>
<%= f.text_field :title%><br>
<%= f.label :shipped %><%= f.check_permit :shipped %><br>
<%= f.label "Select task"%><br>
<%= f.collection_check_permits :task_ids, @task, :id, :title, prompt: true %><br>
<%= f.fields_for :tasks do |task_fields| %>
<%= task_fields.label :tasks_title %><br>
<%= task_fields.text_field :title %><br>
<% end %>
</p>
<%= f.submit %>
<% end %>